name: Build WF

on:
  push:
   branches:
     - main
  pull_request:
     branches:
      - main


jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Code checkout
        uses: actions/checkout@v4
        with: 
          fetch-depth: 0

      - name: Maven Build
        run: mvn install

     
      
      - name: Upload build output
        uses: actions/upload-artifact@v4
        with:
          name: Vprofile_app
          path: target/*.war


      - name: Builded Failed
        if: failure()
        run: echo "BUild Fails"

  Testing:
    runs-on: ubuntu-latest
    needs: Build
    steps:
      - name: Code checkout
        uses: actions/checkout@v4

      - name: Run tests on main branch
        if: github.ref =='refs/heads/main'
        run: mvn test

      - name: Checkstyle
        run: mvn checkstyle:checkstyle
  
  Security_Scan: 
    runs-on: ubuntu-latest
    needs: Build
    steps:
      - name: Code checkout
        uses: actions/checkout@v4
        with: 
          fetch-depth: 0 

      - name: Run FileSystem Scan
        uses: aquasecurity/trivy-action@0.28.0
        with:
          scan-type: fs
          scan-ref: .
          format: json
          exit-code: 0
          vuln-type: os,library
          output: trivy-results.json

      - name: Upload Trivy scan results as artifact
        uses: actions/upload-artifact@v4
        with:
          name: trivy-scan-results
          path: trivy-results.json
        
